/* =========================
   PRODUTOS REAIS
========================= */

.product-card {
  padding: 0;
  overflow: hidden;
}

.product-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  background: #07111f;
}

.product-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.product-content {
  padding: 27px;
}

.product-content .tag {
  margin-top: 0;
  margin-bottom: 15px;
}

.product-content h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.product-specs {
  margin: 20px 0;
  padding-left: 20px;
  color: #a9b6c7;
  font-size: 0.9rem;
}

.product-specs li {
  margin-bottom: 5px;
}

.product-price {
  font-size: 1.65rem;
  font-weight: 900;
  color: #29d3e6;
  margin: 20px 0 10px;
}

.delivery {
  color: #a9b6c7;
  font-size: 0.9rem;
  margin-bottom: 20px;
}
